#map {
  position:absolute;
  top:20px;
  left:20px;
  width:90vh;
  height:90vh;
}
.removeMarker, .addMarker {
  padding:0.5rem;
  background-color: aliceblue;
  border-radius: 15px;
  border: 0.5px solid black;
}
.infoCard {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
}
.mapboxgl-popup-content {
  border-radius: 10px;
  border:1px solid black;
}
.mapboxgl-ctrl-geocoder {
  border-radius:20px;
  border: 0.5px solid black;
}